rules_version = '2';

// *************************
// {email}                  - the value in the path that is trying to be accessed
// request.auth.token.email - authentication token of the person trying to access the data


service cloud.firestore {

  match /databases/{database}/documents {
      

    // I can read all my documents if I am logged in
    match /users/{email}/ideas/{document=**} {
      
      allow read, write: if loggedInAndMine(email);
      allow read: if request.auth != null && exists(/databases/$(database)/documents/users/aaa/canView)
    }

  }

}

function loggedInAndMine(pathEmail) {
  return request.auth != null && request.auth.token.email == pathEmail
}