
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Test Site</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link active" aria-current="page" [routerLink]="'/home'">Home</a> -->
        <a class="nav-link" [routerLink]="'/profile'">Profile</a>
        <a class="nav-link" [routerLink]="['/person/2/ideas']">Ideas</a>
        <a class="nav-link" [routerLink]="['/relations']">Others Ideas</a>
        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </div>
    </div>
  </div>
  <div><a class="nav-link" *ngIf="!isAuthenticated" [routerLink]="['/login']">Login</a></div>
</nav>
<br>

<div class="container-fluid">
  <p *ngIf="isAuthenticated">
    <span>Welcome!</span>
  </p>
  <!-- <app-idea-list></app-idea-list> -->


  <amplify-authenticator>
    <div>
      <!-- <amplify-sign-out></amplify-sign-out> -->
    </div>
  </amplify-authenticator>
  
  <router-outlet></router-outlet>
</div>
